<div class="row mt-4 text-center">
  <div class="col-12">
    <div class="row">
      <div class="col-6">
        Nom : {{ selectedChar.name }}
      </div>
      <div class="col-6">
        Sexe : {{ selectedChar.sexe }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        Race : {{ selectedChar.race }}
      </div>
      <div class="col-6">
        Classe : {{ selectedChar.classe }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        Description : {{ selectedChar.description }}
      </div>
    </div>
  </div>
</div>
