<div class="col-12">
  <mat-card class="border-accent">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ selectedChar.name }}</mat-card-title>
      <mat-card-subtitle>{{ selectedChar.race.name }}</mat-card-subtitle>
      <mat-card-subtitle>{{ selectedChar.classe.name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ selectedChar.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
