.border-accent{
  border: 2px solid #69F0AE;
}

.bg-accent{
  background-color: #69F0AE;
  color: #424242;
  border-radius: 10px;
}

:host{
  position: fixed;
  width: 37%;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
}
