<div class="card-box col-12 text-end">
  <mat-card class="example-card d-inline-block text-start" (click)="changeSelectedChar(character)">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{ character.race }}</mat-card-subtitle>
      <mat-card-subtitle>{{ character.classe }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ character.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <div class="delete-onglet"></div>
  </mat-card>
</div>
