<div class="card-box col-12 text-end position-relative">
  <mat-card (click)="changeSelectedChar(character);$event.stopPropagation()" class="example-card d-inline-block text-start" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>{{ character.race.name }}</mat-card-subtitle>
      <mat-card-subtitle>{{ character.classe.name }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ character.description }}
      </p>
    </mat-card-content>

  </mat-card>
  <button (click)="isDeleted = true; $event.stopPropagation()" class="delete-onglet btn-del-update">
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>
