.delete-onglet{
  position: absolute;
  width: 55px;
  height: 50%;
  top: 0;
  right: 12px;
  background-color: #f44336;
  border-radius: 0px 40px 40px 0px;
  border: none;
  z-index: 0;
  cursor: pointer;
}

.card-box{
  cursor: pointer;
}

.card-box:hover .mat-card{
  animation-name: slideleft;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.mat-card{
  width: calc(100% - 50px);
  border-radius: 4px 0px 4px 40px;
  z-index: 1;
}

.card-box .mat-card{
  animation-name: slideright;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes slideleft {
  from {left: 0}
  to {left: -50px}
}

@keyframes slideright {
  from {left: -50px}
  to {left: 0}
}

.btn-del-update{
  width: 55px;
  box-shadow: inset 8px 0px 5px -2px black;
}
