<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="col-1 text-center">
      <a routerLink="/characters" routerLinkActive="active">
        <mat-icon> contacts</mat-icon>
      </a>
    </div>
    <div class="col-1 offset-10 text-center">
      <a routerLink="" routerLinkActive="active">
        <mat-icon> home</mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div [@routeAnimations]="getRouteAnimationData()" class="container">
  <router-outlet></router-outlet>
</div>
