<div class="row">
  <div class="col-6">
    <div *ngFor="let character of characters" class="row mt-4">
        <mat-card class="example-card col-12" (click)="selectedChar = character">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ character.name }}</mat-card-title>
            <mat-card-subtitle>{{ character.race }}</mat-card-subtitle>
            <mat-card-subtitle>{{ character.classe }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p>
              {{ character.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
  <app-detail *ngIf="selectedChar; else elseBlock" class="col-6" [selectedChar]="selectedChar"></app-detail>
  <ng-template #elseBlock>
    <div class="col-6 detail-char">
      <div class="rox mt-4">
        <div class="col-12 text-center">
          <span>Veuillez sélectionner un personnage pour voir son détail</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
